body {
    font-family: Times, sans-serif;
    max-width: 11000px;
    margin: auto;
    background: #e9e7da;
}


h1 {
    font-size: 48px;
    margin-bottom: 10px;
}


h2 {
    margin-top: 60px;
    font-size: 32px;
}


p {
    font-size: 18px;
}


section {
    margin-bottom: 50px;
    max-width: 1100px;
    margin: 80px auto;
    padding: 0 40px;
}


.cards {
    display: flex;
    gap: 20px;
}


.card {
    border-radius: 15px;
    padding: 20px;
    background: #f2f2f2;
}

/* Hero */
.hero {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background: linear-gradient(
        150deg,
        #122d1a,
        #1E4D2B,
        #217f3b
    );

    color: white;
}

.hero-content {
    max-width: 1100px;
    margin: auto;
    padding: 0 40px;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
    line-height: 1.1;
    max-width: 1100px;
    margin: auto;
}


.hero p {
    font-size: 20px;
    color: #cdcdcd;
    max-width: 1000px;
    margin: 30px auto;
}


/* Buttons */

.buttons {
    margin-top: 40px;
}


.button {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;

    background: #1d3557;
    color: white;

    text-decoration: none;
    border-radius: 8px;

    font-size: 18px;
}


.button:hover {
    background: #457b9d;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 30px 40px;
    column-gap: 30px;
}

.navbar a {
    justify-self: end;
}

.nav-title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.logo {
    height: 150px;
    width: auto;
}